<div class="s-p-layout">
  <div class="pitfalls-table">
    <div class="header">
      <div>Problem</div>
      <div>Description</div>
      <div>Solution</div>
    </div>

    @for (pf of pitfalls; track pf.problem) {

      <div
        class="row"
        [class.selected]="$index === step()"
        [class.zebra]="$even && $index <= step()"
        (pointerenter)="setActiveTab($index)"
      >
        <app-pixelator>
          <div>{{ pf.problem }}</div>
        </app-pixelator>

        <app-pixelator>
          <ng-container
            [ngTemplateOutlet]="print"
            [ngTemplateOutletContext]="{list: pf.description}"
          />
        </app-pixelator>

        <app-pixelator>
          <ng-container
            [ngTemplateOutlet]="print"
            [ngTemplateOutletContext]="{list: pf.solution}"
          />
        </app-pixelator>
      </div>
    }
  </div>

</div>

<ng-template #print let-list="list">
  <div>@for (s of list; track s.id) {
    <span
      [class.is-regex]="s.type === 'match'"
    >{{ s.content }}</span>&nbsp;
  }</div>
</ng-template>