.s-e-layout {
  overflow: hidden;
  height: 100%;
  background: var(--color-back-1);

  padding-inline: 5vw;

  display: grid;
  place-content: center;

  .s-e-inner-grid {
    display: grid;
    gap: 6ch;
    grid-auto-flow: column;
    align-items: center;
  }

}
