<div class="sandbox-r-layout">

  <div class="heading">
    Regex Tools
    <app-tooltip text="Test out your own regex patterns here">
      <app-button type="4" [swap]="true">?</app-button>
    </app-tooltip>
    <app-tooltip text="Scroll down for the Cheat Sheet">
      <app-button type="2" [swap]="true">i</app-button>
    </app-tooltip>
  </div>

  <div class="regex-sandbox">

    @if (regexError(); as error) {
      <app-pane type="1" swap="true">
        <div>{{ error.errorType }}</div>
        <div>{{ error.errorValue }}</div>
      </app-pane>
    }

    @if (!isEditing()) {
      <app-pane type="2">
        <div class="patterns-content">
          <textarea
            class="regex-textarea"
            [formControl]="regexControl"
            maxlength="999"
            rows="2"
          ></textarea>

          <app-sandbox-flags
            class="flags"
            [flags]="flags"
            (activeFlags)="activeFlags.set($event)"
          />

          <app-button
            class="edit-button"
            type="1"

            outline="single"
            (click1)="startEdit()"
          >
            Edit
          </app-button>

          <ng-container
            [ngTemplateOutlet]="print"
            [ngTemplateOutletContext]="{list: textSections()}"
          />

        </div>
      </app-pane>
    } @else {

      <app-pane class="edit-pane" type="2" swap="true">
        <textarea
          class="edit-text-textarea"
          [formControl]="editTextControl"
          maxlength="9999"
          rows="20"
        ></textarea>
        <div class="edit-controls">
          <app-button [swap]="true" type="3" (click1)="saveEdit()">SAVE
          </app-button>
          <app-button [swap]="true" type="2" (click1)="cancelEdit()">CANCEL
          </app-button>
        </div>
      </app-pane>
    }

    <app-pane type="4" [header]="'Regex matches:' + matches().length">
      @for (m of matches(); track m.id) {
        <div>{{ m.content }}</div>
      }
    </app-pane>


    <app-pane type="3">
      <app-cheat-sheet/>
    </app-pane>

  </div>
</div>

<ng-template #print let-list="list">
  <div class="result-container">
    @for (s of list; track s.id) {
      <span
        [class.is-regex]="s.type === 'match'"
        [ngClass]="s.group"
      >{{ s.content }}</span>
    }
  </div>
</ng-template>
