.tree-container {
  display: grid;
  --size: 4ch;
  grid-template:
    repeat(calc(var(--h) + 1), var(--size))
  / repeat(calc(var(--w) + 1), var(--size));
  gap: 3ch 2ch;
}

.tile {
  grid-area:
    calc(var(--y) + 1) / calc(var(--x) + 1)
  / calc(var(--y) + 2) / calc(var(--x) + 2);
  display: grid;
}
