<div class="layout">
  @if (inputNotesScript()) {
    <div class="heading">{{ heading() }}</div>

    @for (note of currentNotes(); track note) {
      <p
        class="notes"
        [innerHTML]="note"
        [class.not-active-yet]="note !== currentStep()"
        [class.cut-off-top]="$count > 1
          && note !== currentStep()
          && $first"
      ></p>
    }

    <div class="controls">
      <div class="progress-layout">
        <app-progress
          class="progress"
          [value]="elapsedSeconds() / maxSecondsAllowed()"
          [class.overtime]="elapsedSeconds() > maxSecondsAllowed()"
          (click)="setNewTimeLimit($event)"
        />
        <div class="max-time">max {{ maxMinutesAllowed() }}m</div>
      </div>

      <app-pane type="2" [shadow]="false">
        <pre
          class="timer"
          title="Reset timer"
          [innerHTML]="timeElapsed()"
          (click)="resetTimer()"
        ></pre>
      </app-pane>

      <app-button
        type="1"
        [swap]="true"
        (click1)="inputNotesScript.set(null)"
      >
        X
      </app-button>
    </div>
  } @else {
    <app-pane
      class="load-notes-pane"
      header="Load notes script"
      type="4"
    >
      <div class="load-notes-layout">
        <div class="dos-row">
          <div class="from-storage">
            Last used script
            <app-button
              type="4"
              [swap]="true"
              (click1)="inputNotesScript.set(lastUsedScript())"
            >
              LOAD
            </app-button>
          </div>
          <pre class="last-used-script">{{ lastUsedScript() || 'None' }}</pre>
        </div>

        <div class="dos-row">
          <div>Copy&Paste script</div>
          <textarea
            [(ngModel)]="inputNotesScript"
            maxlength="500000"
            rows="5"
          ></textarea>
        </div>

        <div class="dos-row">
          <div>Upload .txt file</div>
          <input
            class="drag-drop-here"
            type="file"
            accept="text/plain"
            (change)="loadFile($event.target)"
          />
        </div>

        <div class="dos-row">
          <div>Record script</div>
          <app-button>
            <div class="fake-record-button">●</div>
          </app-button>
        </div>
      </div>
    </app-pane>
  }


</div>