/*
  Name of each variable-set. The values here are used
  as the base value. Theme generation creates 5 values
  from each base value (base equals the 3rd value),

  Definitions inside this file get copied into
  generated-variable-name.scss to help IDE code
  completion.
 */
:root {
  --space: 8px;
  --border-width: 3px;
  --font-size: 1.2rem;
  --font-weight: 400;
}