.drag-drop-here {

  &:after {
    display: block;
    content: 'Drop .txt file to load';
    text-align: center;
    font-size: var(--font-size-3);

    margin-top: .5em;
    border: var(--border-width-2) dashed var(--color-border-4);
    padding: 1ch;
  }

  &:hover:after {
    background: #0f03;
  }
}

.last-used-script {
  white-space: pre-wrap;
  max-width: 80ch;
  max-height: 12em;
  overflow-y: scroll;
  font-size: var(--font-size-1);
}

.load-notes-pane {
  display: block;
}

.load-notes-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 2ch;

  .from-storage {
    display: flex;
    gap: 2ch;
    justify-content: space-between;

    .tuck-right {
      margin-left: auto;
    }
  }
}

.dos-row {
  display: grid;
  grid-auto-rows: max-content;
  gap: .5em;
  background: #d6ffea;
  padding: .5em 1ch;
}

.fake-record-button {
  font-size: var(--font-size-5);
  color: var(--color-text-1);
}