# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Project
generated-variable-names.scss

# Compiled output
/dist
/pnpm-lock.yaml

# Node
/node_modules

# IDEs and editors
.idea/

# Miscellaneous
/.angular/cache
