:host {
  display: block;
  height: 100vh;
  overflow-x: hidden;
}

.heading {
  display: flex;
  justify-content: space-between;

  .main-menu-button {
    padding-left: 2ch;
    cursor: pointer;
  }

  .text {
    padding-right: 2ch;
  }

  .highlight {
    text-decoration: underline;
    color: var(--color-text-danger);
  }
}