.s-r-layout {
  overflow: hidden;
  height: 100%;
  background: var(--color-back-2);
  padding-top: var(--space-2);

  position: relative;
  display: grid;
  place-items: center;
}

.white-space-preservation {
  white-space: preserve;
}

.regex {
  background: var(--base-color-15);
  color: var(--base-color-0);
  padding-inline: var(--space-3);
  font-size: var(--font-size-4);
}

.censor {
  background: #000c;
  color: var(--base-color-0);
  padding-inline: var(--space-3);
}

.table {
  td {
    padding-right: 3ch;
  }
}