<div class="s-b-m-layout">

  <app-pane
    class="pane-constraint tabs-container"
    type="5"
    swap="true"
    outline="single"
    [shadow]="false"
    [background]="false"
  >
    <div class="gaps">
      <div class="tabs">
        @for (tab of tabs; track $index) {
          <app-button
            type="3"
            [swap]="index() !== $index"
            (click1)="setActiveTab($index)"
          >
            {{ tab.label }}
          </app-button>
        }
      </div>

      <app-pane
        class="pane-constraint"
        type="5"
        swap="true"
        outline="double"
        [shadow]="false"
        [background]="false"
      >
        <div class="regex-controls">
          @if (selectedRegex(); as regex) {
            <div class="regex-display active">{{ regex }}</div>

            <div>
              <input
                [formControl]="globalFlagControl"
                type="checkbox"
                id="global-flag"
              />
              <label for="global-flag">Global search</label>
            </div>
          } @else {
            <div class="regex-display empty">Select a method</div>
          }
        </div>
      </app-pane>
    </div>
  </app-pane>

  <div class="printer">
    @for (section of displayText(); track section.id) {
      <span [class.match]="section.type === 'match'"
      >{{ section.content }}</span>
    }
  </div>

</div>
