<div
  class="node"
  [class.is-lit]="isLit()"
  [class.disabled]="disabled() && !isPointedAt()"
  [class.is-pointed-at]="isPointedAt()"

  (pointerenter)="startHover()"
>
  @if (tile(); as t) {
    @if (t.char; ) {
      <div class="end-node">
        <div class="path-digit">{{ t.path.slice(-1) }}</div>
        <div class="char">{{ t.char === ' ' ? '&nbsp;' : t.char }}</div>

        @if (isLit()) {
          <div class="full-path-display">{{ t.path }}</div>
        }
      </div>
    } @else if (t.path) {
      <div class="mid-node">{{ t.path.slice(-1) }}</div>
    } @else {
      <div class="start-node">▼</div>
    }
  }


  @for (childRef of svgPoints(); track childRef.component) {
    <svg xmlns="http://www.w3.org/2000/svg"
         class="node-connector-container"
         [class.is-lit]="childRef.isLit() || isPointedAt()"
         height="0" width="0">
      <polyline class="connector" [attr.points]="childRef.points"/>
    </svg>
  }
</div>