.s-h-c-t-container {
  overflow: hidden;
  height: 100%;
  background: var(--color-back-6);

  display: grid;
  place-content: center;
  grid-template: auto / auto;

  box-sizing: border-box;

  .s-h-c-t-layout {
    display: grid;
    grid-template: auto auto / auto auto auto;
    grid-template-areas:
      'dictionary table tree'
      'dictionary table tree';
    gap: 2ch;

    .tree {
      grid-area: tree;
      display: grid;
      grid-template-rows: 1fr auto;

      .button-spacing {
        text-align: end;
      }
    }

    .text {
      //grid-area: text;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }

    .table {
      grid-area: table;
      align-self: end;
    }

    .dictionary {
      grid-area: dictionary;
      align-self: end;
      margin-top: 12ch;
    }

  }
}
