.note {
  padding-bottom: var(--space-5);

  --font-size: var(--font-size-4);

  font-size: var(--font-size, var(--font-size-4));
  line-height: 1.5em;

  transition: opacity 2s ease-in;

  &.active {
    --fade-blue: color-mix(in srgb, var(--base-color-4), #fff0 80%);
    --fade-size: .3em;
    background: linear-gradient(
      var(--fade-blue),
      #0000 var(--fade-size),
      #0000 calc(100% - var(--fade-size)),
      var(--fade-blue),
    );
  }

  &.next {
    color: #999;
  }

  &.old {
    color: #999;
    opacity: 0;
  }
}

.scroller {
  will-change: translate;
}
