.layout {
  height: 100%;
  background: var(--color-back-4);
  padding: var(--space-5);

  color: var(--base-color-11);

  display: grid;
  grid:
    max-content
    var(--space-5)
    max-content
    var(--space-5) / max-content;
  place-content: center;
  gap: var(--space-4);

  .pane-constraint {
    display: block;
    width: max-content;
  }

  .tabs-container {
    margin-inline: auto;
  }

  .gaps {
    display: grid;
    gap: var(--space-5);
  }

  .tabs {
    display: flex;
    gap: var(--space-5);
    flex-wrap: wrap;
    max-width: 80vw;
  }

  .regex {
    display: flex;
    justify-content: space-between;
  }

  .regex-display-wrap {
    display: flex;
    align-items: center;
    height: 60px;

    .active {
      font-weight: bold;
      font-size: 50px;

      &::selection {
        color: var(--base-color-11);
        text-shadow: black 2px 2px 2px,
        black -2px 2px 2px,
        black -2px -2px 2px,
        black 2px -2px 2px;
      }
    }

    .empty {
      opacity: .7;
      font-size: 30px;
    }
  }

}
