.world-container {
  width: 680px;
  height: 500px;
  position: relative;
}

.hammer {
  position: absolute;
  image-rendering: pixelated;
  left: 70px;
  top: 20px;
  transform-origin: 50% 80%;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.slider {
  position: absolute;
  top: 200px;
  left: 20px;
}

.world {
  position: relative;
  translate: -70px;
  scale: .25;

  > * {
    position: absolute;
  }

  .wall-group {
    position: relative;
    transform-origin: 500px 1500px;
  }

  .wall {
    position: absolute;
    background: darkslategray;
  }

  .coin {
    overflow: visible;
    translate: 250px;

    g {
      transform-origin: left -30px;
    }

    polyline {
      fill: none;

      &:first-child {
        stroke: orange;
      }

      &:last-child {
        stroke: #0054f0;
      }
    }

  }


}