<div class="sandbox-c-layout">

  <div class="heading">
    Compression Tools
    <app-tooltip [text]="info">
      <app-button type="4" [swap]="true">?</app-button>
    </app-tooltip>
  </div>

  <div class="sandbox-c-inner-grid">

    @defer (on viewport) {
      <app-entropy-preview
        type="2"
        header="Entropy Measure"
        data="Fill in example text by clicking edit..."
        canEdit="true"
      />
    } @placeholder {
      <div class="placeholder">Loading Entropy meter</div>
    }

    @defer (on viewport) {
      <app-custom-run-length-input/>
    } @placeholder {
      <div class="placeholder">Loading Run-length encoding</div>
    }

    @defer (on viewport) {
      <app-custom-binary-converter/>
    } @placeholder {
      <div class="placeholder">Loading Binary converter</div>
    }

    @defer (on viewport) {
      <app-custom-huffman-converter/>
    } @placeholder {
      <div class="placeholder">Loading Huffman converter</div>
    }

    @defer (on viewport) {
      <app-custom-lzw-converter/>
    } @placeholder {
      <div class="placeholder">Loading LZW converter</div>
    }

    @defer (on viewport) {
      <app-coin-flip-world/>
    } @placeholder {
      <div class="placeholder">Loading Coin world</div>
    }
  </div>
</div>
