.sandbox-c-layout {
  overflow-y: auto;
  overflow-x: hidden;

  height: 100%;
  background: var(--color-back-8);

  display: grid;
  place-content: center;

  .sandbox-c-inner-grid {
    margin-inline: 2ch;
    margin-top: 2ch;
    margin-bottom: 4ch;
    display: grid;
    gap: 4ch;

    //grid-auto-flow: column;
    //align-items: center;
  }

}

.heading {
  font-size: var(--font-size-3);
  text-align: center;
}


.placeholder {
  height: 500px;

  &:after {
    margin-left: 1ch;
    animation: kf-loading-spin .5s linear infinite;
    content: "";
  }

  @keyframes kf-loading-spin {
    0% {
      content: '/';
    }
    35% {
      content: '−';
    }
    70% {
      content: '\\';
    }
    85% {
      content: '|';
    }
    100% {
      content: '/';
    }
  }
}