.dropdown-menu {
  display: grid;
  padding: var(--space-3);
  width: max-content;
  background: var(--color-pane-1);
  border: 2px solid var(--base-color-4);
}

.menu-button {
  text-align: left;

  &[aria-expanded='true'] {
    background-color: var(--base-color-8);
  }
}

app-checkbox {
  // TODO: fix checkbox padding added for regex-chooser component
  margin-top: -20px;
}