<div cdkMenuBar>
  <app-button
    type="2"
    [swap]="true"
    #menuButton="cdkMenuTriggerFor"
    class="menu-button"
    cdkMenuItem
    [cdkMenuTriggerFor]="options"
  >
    Flags
  </app-button>
</div>
<ng-template #options>
  <div #dropdown class="dropdown-menu">
    @for (flag of flagsWithControl(); track flag.value) {
      <app-checkbox
        cdkMenuItem
        [label]="flag.label"
        [formControl]="flag.control"
        (change)="delayClose(menuButton, dropdown)"
      />
    }
  </div>
</ng-template>