<div [@lineRevealOnStep]="step()" class="s-a-i-b-layout">

  @switch (step()) {
    @case (0) {
      <div>
        <div class="tile half-ascii-table">
          <div>ASCII Table (0-63)</div>
          <div class="tile-contents">
            <app-ascii-table [filterTemplate]="asciiHalf1()"/>
          </div>
        </div>
      </div>
    }
    @case (1) {
      <div>
        <div class="tile half-ascii-table">
          <div>ASCII Table (64-127)</div>
          <div class="tile-contents">
            <app-ascii-table [filterTemplate]="asciiHalf2()"/>
          </div>
        </div>
      </div>
    }
    @default {
      <div class="step-2">
        <div class="tile">
          <div>Text as Characters</div>
          <div class="tile-contents">
            <app-text-character-lighter
              [characters]="exampleText()"
              [litCharacter]="litChar()"
              [litColor]="1"
              (userPointsAt)="updateLitCharacter($event, true)"
            />
          </div>
        </div>

        @if (step() >= 3) {
        <div class="tile truncated-ascii-table">
          <div>ASCII Table (Truncated)</div>
          <div class="tile-contents">
            <app-ascii-table
              [filterTemplate]="exampleAscii()"
              [litBinary]="litBinary()"
              (userPointsAt)="updateLitCharacter($event)"
            />
          </div>
        </div>
        }

        @if (step() >= 4) {
        <div class="tile">
          <div>Text in Binary</div>
          <div class="tile-contents">
            <app-text-character-lighter
              [characters]="exampleBinary()"
              [litCharacter]="litBinary()"
              [litColor]="1"
              (userPointsAt)="updateLitCharacter($event)"
            />
          </div>
        </div>
        }
      </div>
    }
  }

</div>