<div class="s-r-l-e-layout">
  <div class="tile preview">
    <app-run-length-preview
      #previewData
      [class.conceal]="step() < 1"
      [data]="imageString()"
      [litIndex]="litPreview()"
      (userPointsAt)="previewPointing($event)"
    />
    <app-entropy-measure
      #previewMeasure
      [class.conceal]="step() < 2"
      [data]="imageString()"
    />

    <span class="terminal-cursor" [class.hide]="step() > 0">█</span>
  </div>

  <div class="tile encoded">
    <app-run-length-definition
      #defsData
      [class.conceal]="step() < 4"
      [defs]="encodings()"
      [stride]="imageWidth()"
      [litIndex]="litDef()"
      (userPointsAt)="definitionsPointing($event)"
    />
    <app-entropy-measure
      #defsMeasure
      [class.conceal]="step() < 5"
      [data]="encodingsData()"
    />

    <span class="terminal-cursor" [class.hide]="step() !== 3">█</span>
  </div>

</div>