.rle-layout {
  display: grid;
  gap: 1ch;
  justify-items: center;
  grid-template-areas:
'decoded'
'edit'
'encoded';

  .decoded {
    grid-area: decoded;
  }

  .edit {
    grid-area: edit;

    display: flex;
    flex-direction: column;
    align-items: center;

    .edit-buttons {
      display: flex;
      gap: 2ch;
    }
  }

  .encoded {
    grid-area: encoded;

    .definitions {
      max-width: 30ch;
    }
  }

  hr {
    width: 100%;
    margin: 0;
  }

  &.decoding-mode {
    grid-template-areas:
'encoded'
'edit'
'decoded';
  }
}

.image-preview {
  max-width: 90vw;
  overflow: hidden;
  display: grid;
}

.user-input-textarea {
  min-height: 3em;
  min-width: 10ch;
  max-width: inherit;
  font-size: var(--font-size-5);
  padding-inline: 2ch;
  box-sizing: border-box;
}

.char-selector-header {
  display: flex;
  align-items: center;
}

.char-selector {
  overflow: hidden;

  .height-animator {
    margin-block: 1px;
    padding-inline: 2ch;
    display: flex;
    flex-wrap: wrap;
  }

  .char-option {
    cursor: pointer;
    padding: var(--font-size-1);

    &:hover {
      color: white;
      outline: 1px solid yellow;
    }
  }

  .empty-option {
    width: 1ch;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 1ch;
      height: 1em;
      outline: 1px solid gray;
    }
  }
}
