<app-pane
  header="Run-length Encoder"
  type="2"
  swap="true"
>
  <div class="rle-layout">
    <div class="image-preview">
      <app-run-length-preview [data]="userInputValue()"/>
    </div>

    <div class="edit-buttons">
      <app-button type="2" (click1)="toggleEditMode()">
        {{ editMode() ? 'DONE' : 'EDIT' }}
      </app-button>
      <app-button type="2" (click1)="toggleEncoderMode()">
        SWAP
      </app-button>
    </div>

    @if (editMode()) {
      <textarea
        #inputTextArea
        class="user-input-textarea"
        [(ngModel)]="userInputValue"
        maxlength="5000"
      ></textarea>
      <hr/>
      Quick Character Selection
      <div class="char-selector">
        @for (char of chars; track char[0] + $index) {
          <span
            class="char-option"
            (click)="inputChar(char[0])"
          >{{ char[1] }}</span>
        }
      </div>
      <hr/>
    }

    @if (encodings() || editMode()) {
      <app-run-length-definition
        class="definitions"
        [defs]="encodings()"
        [stride]="imageWidth()"
      />
    } @else {
      Click edit to input a custom image
    }
  </div>

</app-pane>