<app-rim
  (keydown.arrowDown)="selectNext(1)"
  (keydown.arrowRight)="selectNext(1)"
  (keydown.arrowUp)="selectNext(-1)"
  (keydown.arrowLeft)="selectNext(-1)"
  (keydown.enter)="launchSelected()"
  (keydown.control.arrowRight)="launchSelected()"

  tabindex="0"
  autofocus
>
  <div class="head-footing" head>
    <div class="taskbar">
      <app-taskbar-menu
        [title]="optionsMenu().title"
        [items]="optionsMenu().items"
        (itemClick)="optionsMenuClick($event)"
      />
      @if (mode() === slideMode.presentation) {
        <app-taskbar-menu
          [title]="['Notes', 0]"
          [items]="[['Start', 0]]"
          (itemClick)="$event === 0 && notes.click()"
        />
        <a #notes [href]="routeNames.presenterNotes"
           target="_blank" class="invisible"></a>
      }
    </div>

    <div class="heading">BLAARKIES TALKS</div>
  </div>

  <div class="layout-main-menu">
    <div class="content-menus">

      <app-pane
        [header]="'MAIN MENU'"
        [type]="1"
        #navPane
      >
        <ul
          class="navigation-list"
          [style.--panel-padding]="navPane.outerPadding()"
          role="menu"
        >
          @for (option of navigationsList(); track option.url) {
            <a class="anti-a list-option"
               [routerLink]="[
                  '../',
                 mode() === slideMode.presentation
                   ? routeNames.present
                   : routeNames.interact,
                  option.url]"
               [attr.aria-selected]="selectedOption() === option"
               (pointerenter)="selectedOption.set(option)"
            >
              {{ option.label }}
            </a>
          }
        </ul>
      </app-pane>

      <app-pane
        [header]="selectedOption()?.title
        || 'Select an item from the MAIN MENU to learn more'"
        type="2"
        swap="true"
        outline="double"
      >
        <ul class="description-list">
          @let navs = navigations();

          @switch (selectedOption()) {
            @default {
            }
            @case (navs.compression) {
              <li>What is fundamentally compressed</li>
              <li>Small zipped files can be uncompressed without data loss</li>
              <li>How to compress your friends</li>
            }
            @case (navs.imageProcessing) {
              <li>How many pixels make a picture</li>
              <li>Pixels are interpreted with the surrounding information</li>
              <li>Your friends also have pixels</li>
            }
            @case (navs.regex) {
              <li>How to find text</li>
              <li>Matching advanced patterns</li>
              <li>How to recognize your friends</li>
            }
            @case (navs.asdf) {
              <li>Placeholder 1</li>
              <li>Holder of la Place</li>
              <li>Hold the place</li>
            }
          }
        </ul>
      </app-pane>
    </div>
  </div>

  <div class="head-footing" foot>
    SELECT AN OPTION WITH ↑ ↓ AND ↵ OR CLICK; CTRL+Q TO QUIT
  </div>
</app-rim>

@if (isQuit()) {
  <div
    class="quit-crt-effect"
    (click)="isQuit.set(false)"
  ></div>
}
