.layout-main-menu {
  width: 100vw;
  height: 100vh;

  background: var(--color-back-1);

  display: grid;
  grid-template: max-content 1fr max-content / 1fr;

  .content-menus {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    place-items: center;
    gap: var(--space-5);
    margin: var(--space-5);
  }
}

.rim {
  background: var(--color-pane-1);
  padding: var(--space-1) var(--space-3);
}

.navigation-list {
  padding-left: 0;

  .list-option {
    padding-inline: calc(var(--panel-padding) + var(--space-5)) calc(var(--panel-padding) + var(--space-3));
    display: block;
    padding-block: var(--space-3);
    color: var(--color-text-2);
    cursor: pointer;
    margin-inline: calc(-1 * var(--panel-padding));

    &[aria-selected="true"] {
      color: var(--color-swap-text-1);
      background: var(--color-swap-pane-1);
    }
  }
}

.description-list {
  list-style: square;
}