<app-rim
  (keydown.arrowDown)="selectNext(1)"
  (keydown.arrowUp)="selectNext(-1)"
  (keydown.enter)="launchSelected()"

  tabindex="0"
  autofocus
>
  <div head>BLAARKIES TALKS</div>

  <div class="layout-main-menu">
    <div class="content-menus">

      <app-pane
        [header]="'MAIN MENU'"
        [type]="1"
        [shadow]="true"
        #navPane
      >
        <ul
          class="navigation-list"
          [style.--panel-padding]="navPane.outerPadding()"
          role="menu"
        >
          @for (option of navigationsList(); track option) {
            <a class="anti-a list-option"
               [routerLink]="['../', routeNames.present, option.url]"
               [attr.aria-selected]="selectedOption() === option"
               (pointerenter)="selectedOption.set(option)"
            >
              {{ option.label }}
            </a>
          }
        </ul>
      </app-pane>

      <app-pane
        [header]="selectedOption()?.title
        || 'Select an item from the MAIN MENU to learn more'"
        [type]="2"
        [swap]="true"
        [shadow]="true"
        outline="double"
      >
        <ul class="description-list">
          @switch (selectedOption()) {
            @default {
            }
            @case (navigations().compression) {
              <li>What is fundamentally compressed</li>
              <li>Small zipped files can be uncompressed without data loss</li>
              <li>How to compress your friends</li>
            }
            @case (navigations().imageProcessing) {
              <li>How many pixels make a picture</li>
              <li>Pixels are interpreted with the surrounding information</li>
              <li>Your friends also have pixels</li>
            }
            @case (navigations().asdf) {
              <li>Placeholder 1</li>
              <li>Holder of la Place</li>
              <li>Hold the place</li>
            }
          }
        </ul>
      </app-pane>
    </div>
  </div>

  <div foot>
    TO SELECT AN OPTION, USE ↑ ↓ AND ↵ OR MOUSE CLICK
  </div>
<!--  Ctrl+Q TO QUIT-->
<!--  (keydown.control.q)="quit()"-->
</app-rim>
