@use '../../../style/fix';

.layout-main-menu {
  height: 100%;
  background: var(--color-back-1);

  display: grid;
  grid-template: 1fr / 1fr;

  .content-menus {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    place-items: center;
    gap: var(--space-5);
    margin: var(--space-5);
  }
}

.menu-option {
  cursor: pointer;
  padding: 0 1ch;

  &:hover {
    background-color: var(--base-color-8);
    outline: 2px solid var(--base-color-8);
  }
}

.dropdown-item {
  @extend .menu-option;
  @extend .anti-button;

  text-align: left;

  .hotkey {
    text-decoration: underline;
    color: var(--color-text-danger);
  }
}

.menu-bar .dropdown-item {
  width: max-content;
}

.dropdown-menu {
  display: grid;
  padding-block: 3px;
  gap: 4px;
  width: max-content;
  background: var(--color-pane-1);
}

.head-footing {
  padding-left: var(--space-5);
  position: relative;

  .title {
    pointer-events: none;
    position: absolute;
    inset: 0;
    width: 100%;
    text-align: center;
  }
}

.navigation-list {
  padding-left: 0;

  .list-option {
    padding-inline: calc(var(--panel-padding) + var(--space-5)) calc(var(--panel-padding) + var(--space-3));
    display: block;
    padding-block: var(--space-3);
    color: var(--color-text-2);
    cursor: pointer;
    margin-inline: calc(-1 * var(--panel-padding));

    &[aria-selected="true"] {
      color: var(--color-swap-text-1);
      background: var(--color-swap-pane-1);
    }
  }
}

.description-list {
  list-style: square;
}