<div class="s-t-layout">

  <app-pane
    header="Origin"
    [type]="2"
    class="alice-desk"
  >
    <div class="desk alice-desk">
      <div #alicesStiffy class="stiffy-holder">
        <div>{{ stiffyText() }}</div></div>
      <div>10 MB</div>
      <div #aliceGhost class="ghost">
        <ng-container [ngTemplateOutlet]="ghostlyStiffy"/>
      </div>
    </div>
  </app-pane>

  <app-pane
    header="Destination"
    [type]="animationIndex() < 3 ? 2 : 1"
    #bobDesk
    class="bob-desk"
  >
    <div class="desk">
      <div
        #bobsStiffy
        class="bobs-lines"
        [class.highlight]="animationIndex()===3"
      >
        @for (line of stiffyDecompressed(); track line) {
          <div class="stiffy-line">{{ line }}</div>
        }
      </div>
      @if (animationIndex() === 3) {
        <div class="above-outline">
          4 MB<span class="extra-bytes"> + 6 MB </span>
        </div>
      } @else {
        <div>4 MB</div>
      }
    </div>
  </app-pane>

  <app-pane
    header="Compress"
    [type]="2"
    #compressorDesk
    class="compressor-desk"
  >
    <div class="desk">
      <div #compressorsStiffy class="stiffy-holder">{{ stiffyCompress() }}</div>
      <div>4 MB</div>
      <div #compressorGhost class="ghost">
        <div class="stiffy-holder">{{ stiffyCompressedGhost() }}</div>
      </div>
    </div>
  </app-pane>

</div>

<ng-template #ghostlyStiffy>
  <div class="stiffy-holder">{{ stiffyText() }}</div>
</ng-template>