@use './setup/mixin';
@use './setup/variable-sets';

@import './fix';

// @formatter:off
:root {
  // Generated sets
  // Size

  // Space - Padding, margin, gap
  @include mixin.size-set-exponential(space, var(--space), 2);

  // Border Width - Border width
  @include mixin.size-set-linear(border-width, var(--border-width), 1px);

  // Font Size - Border radius
  @include mixin.size-set-exponential(font-size, var(--font-size), 1.3);

  // Font Weight - Border radius
  @include mixin.size-set-linear(font-weight, var(--font-weight), 150);

  // Color
  --base-color-0:  rgb(0 0 0);
  --base-color-1:  rgb(168 0 0);
  --base-color-2:  rgb(0 168 0);
  --base-color-3:  rgb(168 168 0);
  --base-color-4:  rgb(0 0 168);
  --base-color-5:  rgb(168 0 168);
  --base-color-6:  rgb(0 168 168);
  --base-color-7:  rgb(168 168 168);
  --base-color-8:  rgb(128 128 128);
  --base-color-9:  rgb(255 0 0);
  --base-color-10: rgb(0 255 0);
  --base-color-11: rgb(255 255 0);
  --base-color-12: rgb(0 0 255);
  --base-color-13: rgb(255 0 255);
  --base-color-14: rgb(0 255 255);
  --base-color-15: rgb(255 255 255);

  --color-text-danger: var(--base-color-1);
  --color-text-highlight-danger: var(--base-color-9);

  --color-back-1: rgb(128 128 213);

  --color-pane-1: var(--base-color-7);
  --color-text-1: var(--base-color-1);
  --color-border-1: magenta;

  --color-pane-2: var(--base-color-7);
  --color-text-2: var(--base-color-4);
  --color-border-2: magenta;

  --color-pane-3: var(--base-color-14);
  --color-text-3: var(--base-color-4);
  --color-border-3: magenta;

  --color-pane-4: var(--base-color-15);
  --color-text-4: var(--base-color-0);
  --color-border-4: var(--base-color-2);

  // Swap refers to sets having a dark background and light text,
  // when seen in light mode
  --color-swap-pane-1: var(--base-color-1);
  --color-swap-text-1: var(--base-color-15);
  --color-swap-border-1: magenta;

  --color-swap-pane-2: var(--base-color-4);
  --color-swap-text-2: var(--base-color-15);
  --color-swap-border-2: var(--base-color-15);

  --color-swap-pane-3: var(--base-color-4);
  --color-swap-text-3: var(--base-color-15);
  --color-swap-border-3: var(--base-color-15);


  --color-shadow-1: var(--base-color-0);
}

html, body {
  margin: 0;
  font-family: "Lucida Console", system-ui;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-3);
}