@use 'mixin';

:host {
  display: block;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

.top-left,
.top-right,
.bottom-right {
  z-index: 1;
  position: absolute;
  font-size: var(--font-size-2);
}

.top-right {
  right: 0;
}

.bottom-right {
  right: 0;
  bottom: 0;
}

.steps {
  padding-top: 1em;
  background: var(--color-pane-1);

  transition: .5s steps(3);
  transition-delay: 1s;

  clip-path: rect(0 100% 100% 80%);
  opacity: .5;

  &:hover {
    transition-delay: 0s;
    clip-path: rect(0 100% 100% 0);
    opacity: 1;
  }
}

.is-mobile-warning {
  position: absolute;
  top: 0;
  z-index: 1;
  min-width: 100vw;
  min-height: 100vh;

  background: #0000aa;
  color: white;
  font-size: var(--font-size-1);

  display: grid;
  grid-template:
    '.'
    'name'
    'message'
    'action'
    '.';
  grid-template-rows: auto repeat(3, max-content) auto;
  justify-content: center;

  > * {
    max-width: 90vw;
  }

  .name {
    grid-area: name;
    background: #aaaaaa;
    color: #0000aa;
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-3);
    width: max-content;
    padding-inline: 1ch;
    padding-top: 2px;
    margin: auto;
  }

  .message {
    grid-area: message;
  }

  .action {
    grid-area: action;
    text-align: center;

    .blinking {
      @include mixin.make-key-frames(kf-opacity-toggle, opacity, 0, 1);

      animation: kf-opacity-toggle 1s infinite steps(2, jump-none);
    }
  }

  .bsod-a {
    text-decoration: underline;
    &:hover {
      background: white;
      color: #0000aa;
    }
  }
}