.printer {
  text-align: center;
  white-space: pre;
  font-family: PTMono;
  font-size: calc(var(--font-size-3) * 1.15);

  .match {
    --pad: .2ch;

    &.a {
      background: #ff0;
      color: black;
    }

    &.b {
      background: #fb0;
      color: black;
    }

    &.c {
      background: white;
      color: black;
    }
  }
}