.layout-entropy-measure {
  font-size: var(--font-size-1);
  display: grid;
  grid-template: auto / auto 1fr;
  gap: var(--space-4);
}


.span-stretch {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-1);
}

.full-columns {
  grid-column: 1 / -1;
}
