<app-pane [type]="type()" swap="true">
  <div class="layout-entropy-measure">
    @if (canEdit()) {
      <div class="edit-button">
        <app-button type="2" (click1)="toggleEditMode()">
          {{editMode() ? 'DONE' : 'EDIT'}}
        </app-button>
      </div>
    }
    <div class="title">{{ header() }}</div>

    @if (editMode()) {
      <textarea
        class="user-input-textarea"
        [(ngModel)]="userInputValue"
        maxlength="500000"
      ></textarea>
    } @else {
      <div
        #previewData
        class="preview-data"
        (click)="wordClick($event.target, previewData)"
        (pointerover)="triggerWordHover($event.target, previewData)"
        (pointerleave)="triggerWordHover()"
      >
        @for (token of text(); track $index) {
          <span [attr.data-token]="token">{{ token }}</span>
        }
      </div>
    }

    @if (encodedTokens().length && !editMode()) {
      <div class="encoding-layout">
        <div class="token-label-list">
          @for (encoding of encodedTokens(); track encoding.refEntry) {
            <span
              class="entry-preview"
              (click)="removeEncoding(encoding.refEntry)"
            >
              {{ encoding.label }}
            </span>
          }
        </div>

        <div class="info">
          <app-button
            [tabindex]="5"
            [type]="type()"
            (click1)="clearTokens()">
            CLEAR
          </app-button>
          <div>Total: {{ totalBytes() }} bytes</div>
        </div>
      </div>
    } @else {
      <app-entropy-measure [data]="userInputValue() || data()"/>
    }

  </div>
</app-pane>