.layout {
  font-family: PTMono;
  word-break: break-all;
  display: flex;
  column-gap: .3ch;
  flex-wrap: wrap;
}

.definition {
  cursor: pointer;

  &:hover,
  &.is-lit {
    background: var(--base-color-2);
  }
}
