.s-l-layout {
  overflow: hidden;
  height: 100%;
  background: var(--color-back-8);

  display: grid;
  place-content: center;

  .s-l-inner-grid {
    max-width: 90vw;
    translate: -1ch;
    display: grid;
//    grid-template:
//'input  dictionary'
//'output dictionary';
    grid-template:
'input  '
'dictionary'
'output '
  ;
    grid-gap: 2ch;

    .input {
      grid-area: input;
    }

    .output {
      grid-area: output;
    }

    .dictionary {
      grid-area: dictionary;
    }
  }
}

.text-list {
  margin-top: 1em;
  display: flex;
  gap: 1ch;

  .is-lit {
    color: var(--base-color-4);
    background: var(--base-color-11)
  }

  .token-code {
    cursor: pointer;
  }
}