<div class="s-l-layout">
  <div class="s-l-inner-grid">
    <app-pane
      class="input"
      header="Input Data"
      [type]="2"
      [swap]="true"
      outline="single"
    >
      <app-text-character-lighter
        [characters]="text()"
        [litIndexes]="litIndexes()"
        [litColor]="3"
        (userPointsAtIndex)="updateLitIndex($event)"
      />
      <div
        class="text-list"
        (pointerleave)="userPointAtDictionary(controller.activeDictionary().at(-1))"
      >
        @for (c of testInAscii(); track c.toString() + $index) {
          <span
            class="token-code"
            [class.is-lit]="litIndexes()?.includes($index)"
            (pointerenter)="updateLitIndex($index)"
          >
          {{ c }}
        </span>
        }
      </div>
    </app-pane>

    <app-pane
      class="output"
      header="Output Data"
      [type]="2"
      [swap]="true"
      outline="double"
    >
      <app-lzw-code-lighter
        [dictionary]="dictionary()"
        [activeStep]="controller.activeStep()"
        [litStep]="litStep()"
        (userPointsAt)="userPointAtDictionary($event)"
      />
    </app-pane>

    <div class="dictionary">
      <app-pane [type]="4">
        <app-lzw-controller
          #controller
          [dictionary]="dictionary()"
          (updateActiveStep)="litIndexes.set($event?.indexes);
          userPointAtDictionary($event)"
        />
      </app-pane>

      <app-pane
        header="Dictionary"
        [type]="4"
        outline="double"
      >
        <app-lzw-dictionary
          [dictionary]="controller.activeDictionary()"
          [activeStep]="controller.activeStep()"
          [litStep]="litStep()"
          (userPointsAt)="userPointAtDictionary($event)"
        />
      </app-pane>
    </div>

  </div>
</div>
