:host {

  --padding: var(--space-3);
  --width: calc(100vw - 2 * var(--padding));

  display: grid;
  height: 100vh;
  grid-template: max-content 1fr max-content / auto;

  > header {
    width: var(--width);
  }

  > footer {
    width: var(--width);
  }
}

.rim {
  background: var(--color-pane-1);
  padding: var(--space-1) var(--padding);
}
