.s-h-c-d-container {
  overflow: hidden;
  height: 100%;
  background: var(--color-back-5);

  padding-inline: 5vw;

  display: grid;
  place-content: center;

  .s-h-c-d-layout {
    display: grid;
    grid-template: auto auto / 5.6fr 4.4fr;
    gap: 2ch;

    > * {
      opacity: 0;
    }

    .show {
      opacity: 1;
    }

    .input-data {
      place-self: end end;
    }

  }
}
