@use 'mixin';

:host {
  button {
    padding: var(--space-2) 1ch;

    &.outline-double {
      outline: var(--border-width-5) double var(--outline-color);
    }

    &.outline-single {
      outline: var(--border-width-2) solid var(--outline-color);
    }

    @include mixin.make-colored-pane-class(
        '', --color, 4, true);
    @include mixin.make-colored-pane-class(
        swap-, --color-swap, 4, true);

    &.shadow {
      box-shadow: -1ch 1ch 0 0 var(--color-shadow-1);
    }
  }

}