<div
  class="layout"
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin"
  (click)="isInfoOpen.set(false)"
>

  <app-pane
    [header]="headerForInput()"
    type="2"
    [shadow]="false"
  >
    <textarea
      class="input-textarea"
      [(ngModel)]="inputValue"
      maxlength="50000"
      rows="5"
    ></textarea>
  </app-pane>

  @if (decodeFn()) {
    <app-button
      class="toggle-direction"
      type="2"
      outline="single"
      (click1)="toggleDecodeMode()"
    >
      ⇅
    </app-button>
  } @else {
    <div></div>
  }

  <app-pane
    [header]="headerForOutput()"
    type="2"
    [shadow]="false"
    class="output"
  >
    {{ this.outputValue() }}
  </app-pane>

  @if (information()) {
    <div class="info">
      <app-button
        type="4"
        [swap]="true"
        (click1)="isInfoOpen.set(true); $event.stopPropagation()"
      >
        ?
      </app-button>

      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="origin"
        [cdkConnectedOverlayOpen]="isInfoOpen()"
        [cdkConnectedOverlayPositions]="positions"
        (overlayOutsideClick)="isInfoOpen.set(false)"
      >
        <app-pane
          type="4"
          swap="true"
          class="info-popup"
          [style.max-width.px]="origin.elementRef.nativeElement.clientWidth"
          (click)="isInfoOpen.set(false)"
        >
          <span [innerHTML]="information()"></span>
        </app-pane>
      </ng-template>
    </div>
  }

</div>