.s-c-s-layout {

  .tables-layout {
    display: flex;
    flex-direction: column;

    gap: var(--space-5);

    @media (width > 1500px) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  .table {
    display: grid;
    grid-template-columns: max-content auto;
    gap: var(--space-4);

    .row {
      display: grid;
      grid-column: 1/-1;
      grid-template-columns: subgrid;
    }

    .symbol {
      background: black;
      color: yellow;
      padding: 2px .5ch;
      text-align: center;
    }

    .description {
    }
  }

}